Repository fli-iam/shanoir-ng, pull requests merged in 2024-02, with the labels that each got.

#2071 cherry-pick from JL PR #2015 - fix dates again
  shanoir-ng-front/src/app/shared/components/table/browser-paging.model.ts
  shanoir-ng-front/src/app/shared/components/table/table.component.ts
Labels: bug, frontend, REVIEWABLE

#2075 shanoir-issue#2069: during subject creation, make it mandatory to pick a study
  shanoir-ng-front/src/app/subjects/subject/subject.component.html
  shanoir-ng-front/src/app/subjects/subject/subject.component.ts
Labels: frontend, subject, REVIEWABLE

#2066 shanoir-issue#966: add user feedback
  shanoir-ng-front/src/app/preclinical/pathologies/pathologyModel/edit/pathologyModel-form.component.html
  shanoir-ng-front/src/app/preclinical/pathologies/pathologyModel/edit/pathologyModel-form.component.ts
  shanoir-ng-front/src/app/preclinical/therapies/therapy/edit/therapy-form.component.html
  shanoir-ng-front/src/app/preclinical/therapies/therapy/edit/therapy-form.component.ts
Labels: frontend, preclinical, REVIEWABLE

#2094 Correct dependabot config file
  .github/dependabot.yml
Labels: REVIEWABLE

#2108 shanoir-issue#2064: scroll and deploy-console button overlap in fedora
  shanoir-ng-front/src/app/shared/console/console.component.css
Labels: frontend, css, REVIEWABLE

#2100 shanoir-issue#2087: do not throw exception when pacs can't delete
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dicom/web/service/DICOMWebService.java
Labels: bug, examination, REVIEWABLE
