Repository fli-iam/shanoir-ng, pull requests merged in 2024-12, with the labels that each got.

#2490 Frame of reference UID fix
  shanoir-ng-anonymization/src/main/java/org/shanoir/anonymization/anonymization/AnonymizationServiceImpl.java
Labels: backend, import, REVIEWABLE, Core (roadmap)

#2493 shanoir-issue#2482: call subject delete in preclinical and datasets at the same time
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/configuration/amqp/RabbitMQDatasetsService.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/service/ExaminationServiceImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/shared/service/StudyServiceImpl.java
  shanoir-ng-front/src/app/shared/components/subject-study-list/subject-study-list.component.ts
  shanoir-ng-ms-common/src/main/java/org/shanoir/ng/shared/configuration/RabbitMQConfiguration.java
  shanoir-ng-preclinical/src/main/java/org/shanoir/ng/configuration/amqp/RabbitMQPreclinicalService.java
  shanoir-ng-studies/src/main/java/org/shanoir/ng/configuration/amqp/RabbitMQSubjectService.java
  shanoir-ng-studies/src/main/java/org/shanoir/ng/study/service/StudyServiceImpl.java
  shanoir-ng-studies/src/main/java/org/shanoir/ng/studyexamination/StudyExaminationRepository.java
  shanoir-ng-studies/src/main/java/org/shanoir/ng/subject/controler/SubjectApiController.java
  shanoir-ng-studies/src/main/java/org/shanoir/ng/subject/service/SubjectServiceImpl.java
  shanoir-ng-studies/src/test/java/org/shanoir/ng/subject/SubjectApiControllerTest.java
  shanoir-ng-studies/src/test/java/org/shanoir/ng/subject/service/SubjectServiceTest.java
Labels: subject, REVIEWABLE

#2515 shanoir-issue#2471: add sorting_index to search
  docker-compose/database/db-changes/datasets/0055_add_sortingindex_solr.sql
  docker-compose/solr/core/schema.xml
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/model/ShanoirMetadata.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/model/ShanoirSolrDocument.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/model/ShanoirSolrQuery.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/repository/ShanoirMetadataRepositoryImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/service/SolrServiceImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/solr/solrj/SolrJWrapperImpl.java
  shanoir-ng-front/src/app/solr/solr.document.model.ts
  shanoir-ng-front/src/app/solr/solr.search.component.ts
  shanoir-ng-front/src/app/solr/text-search/solr.text-search.component.ts
Labels: solr, REVIEWABLE

#2459 shanoir-issue#2447: improve copy
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/configuration/amqp/RabbitMQDatasetsService.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/dto/DatasetDTO.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/dto/mapper/DatasetDecorator.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/dto/mapper/DatasetMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/modality/EegDatasetMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/modality/MrDatasetMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/model/Dataset.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/service/DatasetCopyServiceImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/service/DatasetServiceImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/datasetacquisition/dto/DatasetAcquisitionDTO.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/datasetacquisition/dto/mapper/DatasetAcquisitionDatasetsMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/datasetacquisition/dto/mapper/DatasetAcquisitionMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/datasetacquisition/model/DatasetAcquisition.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/datasetacquisition/service/DatasetAcquisitionServiceImpl.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/dto/ExaminationDTO.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/dto/mapper/ExaminationDecorator.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/dto/mapper/ExaminationMapper.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/model/Examination.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/repository/ExaminationRepository.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/examination/service/ExaminationServiceImpl.java
  shanoir-ng-front/src/app/dataset-acquisitions/dataset-acquisition/dataset-acquisition.component.html
  shanoir-ng-front/src/app/dataset-acquisitions/dataset-acquisition/dataset-acquisition.component.ts
  shanoir-ng-front/src/app/dataset-acquisitions/shared/dataset-acquisition.dto.ts
  shanoir-ng-front/src/app/dataset-acquisitions/shared/dataset-acquisition.model.ts
  shanoir-ng-front/src/app/datasets/dataset/common/dataset.common.component.html
  shanoir-ng-front/src/app/datasets/dataset/common/dataset.common.component.ts
  shanoir-ng-front/src/app/datasets/dataset/dataset.component.html
  shanoir-ng-front/src/app/datasets/shared/dataset.dto.ts
  shanoir-ng-front/src/app/datasets/shared/dataset.model.ts
  shanoir-ng-front/src/app/examinations/examination/examination.component.html
  shanoir-ng-front/src/app/examinations/examination/examination.component.ts
  shanoir-ng-front/src/app/examinations/shared/examination.dto.ts
  shanoir-ng-front/src/app/examinations/shared/examination.model.ts
  shanoir-ng-front/src/app/studies/tree/study-node.component.html
  shanoir-ng-front/src/app/studies/tree/study-node.component.ts
  shanoir-ng-front/src/app/tree/tree.model.ts
Labels: REVIEWABLE
