Repository fli-iam/shanoir-ng, pull requests merged in 2025-06, with the labels that each got.

#2713 Store dicom processed datasets in PACS
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dataset/controler/DatasetApiController.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/dicom/web/service/DICOMWebService.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/importer/service/ImporterService.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/importer/service/ProcessedDatasetImporterService.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/importer/strategies/datasetexpression/DicomDatasetExpressionStrategy.java
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/vip/output/handler/DefaultHandler.java
  shanoir-ng-datasets/src/test/java/org/shanoir/ng/dataset/StudyTagApiControllerTest.java
Labels: REVIEWABLE

#2874 #2753 : tiny correction for dataset names written in VIP execs trackng file
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/vip/execution/service/ExecutionTrackingServiceImpl.java
Labels: bug, VIP

#2879 #2753 : tiny correction for dataset names written in VIP execs tracking file
  shanoir-ng-datasets/src/main/java/org/shanoir/ng/vip/execution/service/ExecutionTrackingServiceImpl.java
Labels: BUGFIX, VIP
